In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("adult.data.csv")

In [4]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

### How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.

In [5]:
race_count = df["race"].value_counts()

# from the dataframe look for the count of all values in the race column

### What is the average age of men? Round it to one decimal place.

In [9]:
average_age_men = round(df[df["sex"] == "Male"]["age"].mean(), 1)

# in the dataframe of the sex column look for males, then take their age and show the mean

### What is the percentage of people who have a Bachelor's degree?

In [15]:
bachelor_num = len(df[df["education"] == "Bachelors"])
# look for the length of bachelors inside the education column of the dataframe
total_num = len(df)
# length of the entire dataframe

percentage_bachelors = round(bachelor_num / total_num * 100, 1)

### What percentage of people with advanced education ('Bachelors', 'Masters', or 'Doctorate') make more than 50K? What percentage of people without advanced education make more than 50K?

### with and without 'Bachelors', 'Masters', or 'Doctorate'

In [17]:
higher_education = df[df["education"].isin(["Bachelors","Masters","Doctorate"])]
# in the dataframe look for people with higher education in the education column of the dataframe
higher_education_salary = len(higher_education[higher_education.salary == ">50K"])
# look for the number of people whose salary is more than 50K in the higher education dataframe

lower_education = df[~df["education"].isin(["Bachelors","Masters","Doctorate"])]
# in the dataframe look for people with lower education in the education column of the dataframe
lower_education_salary = len(lower_education[lower_education.salary == ">50K"])
# look for the number of people whose salary is more than 50K in the lower education dataframe

### percentage with salary >50K

In [ ]:
higher_education_rich = None
lower_education_rich = None

### What is the minimum number of hours a person works per week (hours-per-week feature)?

In [ ]:
min_work_hours = None

### What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [ ]:
num_min_workers = None

### What country has the highest percentage of people that earn >50K?

In [ ]:
country_total = None
rich_country_count = None

highest_earning_country = None
highest_earning_country_percentage = None

### Identify the most popular occupation for those who earn >50K in India.

In [ ]:
rich_people_of_india = None
occupation_count = None
top_IN_occupation = None

In [23]:
print("Number of each race:\n", race_count)
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%

NameError: name 'higher_education_rich' is not defined