In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("adult.data.csv")

In [15]:
df.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [12]:
df["race"].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [21]:
df[df["sex"] == "Male"]['age'].mean()

39.43354749885268

In [28]:
num_bachelors = len(df[df["education"] == "Bachelors"])
num_total = len(df)
percentage_bachelors = round(num_bachelors / num_total * 100, 2)

In [29]:
percentage_bachelors

16.45

In [31]:
# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_salary = len(higher_education[higher_education.salary == ">50K"])
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_salary = len(lower_education[lower_education.salary == ">50K"])

# percentage with salary >50K
higher_education_rich = round(higher_education_salary/len(higher_education) * 100, 1)
lower_education_rich = round(lower_education_salary/len(lower_education) * 100, 1)

In [32]:
higher_education_rich

46.5

In [33]:
lower_education_rich

17.4

In [34]:
country_total = df['native-country'].value_counts()
rich_country_count = df[df['salary'] == ">50K"]["native-country"].value_counts()

In [37]:
highest_earning_country = (rich_country_count / country_total * 100).idmax()

AttributeError: 'Series' object has no attribute 'idmax'

In [36]:
print(highest_earning_country)

?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64

In [39]:
rich_people_of_india = df[(df['native-country'] == 'India') & (df['salary'] == ">50K")]
occupation_count = rich_people_of_india['occupation'].value_counts()
top_IN_occupation = occupation_count.idxmax()

In [40]:
print(top_IN_occupation)

Prof-specialty